.container {
  max-width: none !important;
}

a.logo-static {
  background: url(../image/staticlogo.svg) no-repeat;
  display: inline;
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

.shortlink-container {
  margin-bottom: 60px;
}
.shortlink-container h1 {
  font-family: 'Lato', sans-serif;
}

.created-links h2 {
  font-family: 'Lato', sans-serif;
}

.container-analytics {
  padding-top: 30px;
  padding-bottom: 50px;
}
.container-analytics h1,
.container-analytics h3 {
  font-family: 'Lato', sans-serif;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.jvectormap-container svg {
  height: 400px;
}

.profile {
  width: 48px;
  height: 48px;
  float: left;
  position: relative;
  margin-right: 6px;
  border-radius: 4px;
}

.profile.avatar span {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../image/network-icons.png");
  background-repeat: no-repeat;
  right: 0;
  top: 32px;
}

.profile.avatar.twitter span {
  background-position: 0px 0px !important;
}

.profile.avatar.facebook span {
  background-position: 0 -18px !important;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .container-analytics h1 {
    font-size: x-large;
  }
  .container-analytics h3 {
    font-size: large;
  }
}
/* Custom, iPhone Retina */
